<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Admin pannel</title>
</head>
<body>
<div class="mt-2 mb-5">
    <h3 class="m-3">Accounts</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Account ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Username</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.account_id }}</td>
                    <td>{{ account.user_id.user_id }}</td>
                    <td>{{ account.user_id.name }}</td>
                    <td>{{ account.user_id.surname }}</td>
                    <td>{{ account.user_id.username }}</td>
                    <td>{{ account.phone }}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="account_id_to_delete" value="{{ account.account_id }}">
                        <button type="submit" name="delete_button">Delete</button>
                    </form>
                </td>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        <form action="" method="post">
            <input type="hidden" name="add_account_button">
            <button type="submit" name="add_account_button">Add account</button>
        </form>
    </div>
</div>





<div>
    <h3 class="m-3">Telegram users</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.username }}</td>
            <td>
                <form action="" method="post">
                    <input type="hidden" name="user_id_to_delete" value="{{ user.user_id }}">
                    <button type="submit" name="delete_button">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>